.image-container {
  position: relative;
}

.Name {
  font-family: 'Jost', sans-serif;
  font-size: 16px;

}

.image-container {

}

.overlay-info {

}

.overlay-text {
  background-color: rgba(255, 255, 255);
  text-align: center;
  align-self: center;
  padding: 0 10px;
}

.heart {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  background-color: white;
  border-radius: 50%;
}

